{% extends "base.html" %}

{% block content %}
<h1>WorldBuild:Data</h1>

{% if res %}


{% for nfo in res %}
  {% if nfo[0] == 'info' %}
    {{ nfo[1] }}:    {{ nfo[2] }}<BR>
  {% endif %}

{% endfor %}
<BR>



<table align="left"><TR><TH>Menu</TH><TH>Sub Menu</TH><TH>Table Name</TH><TH>Num Recs</TH><TH>Key Columns</TH></TR>
{% for row in res %}
  {% if row[0] != 'info' %}
  <TR>
    {% for col in row[1:] %}
    <TD><a href="/table/{{ row[3] }}">{{ col }}</a></TD>
    {% endfor %}
    </TR>
  {% endif %}
{% endfor %}
</table><BR>



{% endif %}

{% endblock %}
