{% extends "base.html" %}

{% block content %}

<h2>{{ row['id'] }}</h2>
 <a href="/table/{{ table_name }}"><div id="link_content">< Back</div></a>
<table border="1">
    <tbody>
        {% for column in columns %}
            <tr>
                <th>{{ column }}</th>
                <td>{{ row[column] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<BR>
<!-- from table: <a href="/table/{{ table_name }}"><div id="link_content">{{ table_name }}</div></a><BR>-->

{% endblock %}
