<ul>
    {% for menu, submenus in menus.items() %}
        <li>
            {{ menu }}
            <ul>
              {% for submenu in submenus %}
	       {% if submenu['table_name']  %}
              <li>

	
<a href="/table/{{ submenu['table_name'] }}" hx-push-url="true" hx-trigger="click" hx-target="section" class="{{ 'current' if request.path == '/table/' ~ v_table_name else '' }}">

		  {{ submenu['submenu'] }}</a>
	      </li>
	      {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<script>

     document.body.addEventListener('htmx:afterSwap', (event) => {
            if (event.detail.target === document.querySelector('section')) {
                history.pushState(null, '', event.detail.path);
            }
         });
  
    document.addEventListener('click', function(e) {
        if (e.target.classList.contains('submenu')) {
            document.querySelectorAll('.submenu').forEach(function(item) {
                item.classList.remove('current');
            });
            e.target.classList.add('current');
        }
    });
</script>
