<div class="top-menu">
    <a href="/" class="{{ 'current' if current_menu == 'home' else '' }}">Home</a>
    <a href="/files" class="{{ 'current' if current_menu == 'files' else '' }}">Files</a>
    <a href="/data" class="{{ 'current' if current_menu == 'data' else '' }}">Data</a>
    <a href="/tools" class="{{ 'current' if current_menu == 'tools' else '' }}">Tools</a>
    <a href="/about" class="{{ 'current' if current_menu == 'about' else '' }}">About</a>
    <a href="/contact" class="{{ 'current' if current_menu == 'contact' else '' }}">Contact</a>
</div>

</div>
