/--------------------------------------------------------------------------------------------------------------------------------\
|═════════╗                                                                                                                     ╔|
|.........║                                      ╔══════════╗                                                                   ║|
|.........║                                      ║..........║                                                                   ║|
|.........║                                      ║..........║                                                                   ║|
|.........#═══#═══════#══════════════════════════#..........║                                                                   ║|
|.....!...-...+.......-..........................+..........║                                                                   ║|
|.........#═══#.......#══════════════════════════#..........║                                                                   ║|
|.........║   ║.......║                          ║..........║                                                                   ║|
|.........║   ║.......║                          ║..........║                                                                   ║|
|.........║   ║...p...║                          ║..........║                                                                   ║|
|.........║   ║.......#═══════════════════#══════╝....r.....#═════════════════════════════════════════#════╗                    ║|
|═════════╝   ║.......-...................+.................-.........................................+....║                    ╚|
|             ║.......#═══════════════════#.................#═════════════════════════════════════════#....║                     |
|             ║.......║      ║.........║  ║.................║                                     ║........║                     |
|             ╚═══════╝╔═════╝.........║  ║.................║                                     ║........║                     |
|                      ║.............p.║  ║..........╔══════╝                                     ║........╚═══════╗             |
|                      ║...............#══#..........#════════════════════════════════════════════#................║             |
|                      ║...............-..+..........-............................................+......p.........║             |
|                      ║...............#══#══════════#════════════════════════════════════════════#................║             |
|                      ║..........╔════                                                           ║................║             |
|                      ║..........║                                                               ║................║             |
|                      ║......L...║                                                               ║................║             |
|                      ║..........║                                                               ║.........p......║             |
|                      ║..........║                                                               ╚═══╗............║             |
|                      ║..........║                                                                   ║............║             |
|                      ║..........╚═════════╗  ╔══════════╗                                           ╚═╗..........║             |
|                      ╚════╗...............║  ║..........║                                              ══════════╝             |
|                           ║...............#══#..........║                                                                      |
|                           ║.........p.....-..+....r.....║                                                                      |
|         ╔══════════╗      ║...............#══#..........║                                                                      |
|         ║..........║      ║...............║  ║..........║                                                                      |
|         ║..........#══════#...............╚══#..........║                                                                      |
|         ║.....p....-......+.......-..........+..........║                                                          ╔══════╗    |
|         ║..........#══════#.......#══════════#..........║                    ╔═════════════╗                       ║......║    |
|         ║..........║      ║.......║           ══════════╝                 ╔══╝.............║                       ║......║    |
|         ║..........║      ║.......║                                       ║................║                       ║......║    |
|         ║..........║      ╚═══════╝                                       ║................║                       ║......║    |
|         ║..........║                                                      ║................║                       ║......║    |
|         ║..........#══════════════════════════════════════════════════════#........L.......#═══════════════════════#......║    |
|         ║..........-......................................................+..r.............-.......................+...?..║    |
|         ╚══════════#══════════════════════════════════════════════════════#................#═══════════════════════#......║    |
|                                                                           ║................║                       ║......║    |
|                                                                           ║................#═══════════════════════#......║    |
|                                                                           ║................-.......................+......║    |
|                                                                           ║................#═══════════════════════#══════╝    |
|                                                                           ╚════════════════                                    |
|                                                                                                                                |
|                                                                                                                                |
\--------------------------------------------------------------------------------------------------------------------------------/

Seed was: 1633707415
