/* Define color themes */
:root {
    --dark-color: #2c3e50;
    --darker-color: #1a252f;
    --light-color: #ecf0f1;
    --highlight-color: #bdc3c7;
    --body-bg-color: #f4e8c1;
}

/* Global styles */
body {
    font-family: 'EB Garamond', serif; /* Medieval-like font */
    background-color: var(--body-bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, nav, .top-menu {
    background-color: var(--darker-color);
    color: var(--light-color);
}

header {
    padding: .5em 1em 0em 1em; /* Adjusted padding to avoid spacing issues */
    color: var (--darker-color);
}

main {
    display: flex;
    flex: 1;
}

nav {
    width: 200px;
    background: var(--dark-color);
    padding: 0em;
}

section {
    flex: 1;
    padding: 2em;
    background: var(--light-color);
    position: relative; /* To overlap with tabs */
    z-index: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

ul ul {
    margin-left: 20px;
    padding-left: 10px;
}

li {
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

a:hover {
    color: var(--highlight-color);
}

/* Top menu tabbed interface */
.top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    position: relative; /* To overlap with content */
    z-index: 1; /* Above the content */
}

.top-menu a {
    padding: 1em 1em 1em 1em;
    border-radius: 5px 5px 0 0;
    margin: 0;
    background-color: var(--darker-color);
    color: var(--light-color);
    position: relative;
    bottom: 0px; /* To overlap with content */
}

.top-menu a.current {
    background-color: var(--light-color);
    color: var(--darker-color);
    border-bottom: none; /* Remove bottom border for seamless effect */
    z-index: 2; /* Above other tabs */
    /*bottom: 0;  Align correctly with content */
    /*border: 1px solid var(--dark-color);  Add border to match the body */
}

/* Side menu tabbed interface */
nav a {
    display: block;
    padding: 2px 1em 2px 1em;
    border-radius: 5px 0 0 5px;
    margin-bottom: 1px;
    font-size: 0.9em; /* Smaller height */
    background-color: var(--dark-color);
}

nav a.current {
    background-color: var(--light-color);
    color: var(--darker-color);
    border-right: none; /* Remove right border for seamless effect */
    position: relative;
    right: 0px; /* To overlap with content */
    z-index: 1; /* Above other tabs */
    border: 0px solid var(--dark-color); /* Add border to match the body */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--darker-color);
    padding: 0.01em;
    text-align: left;
}

th {
    background-color: var(--darker-color);
    color: var(--light-color);
}

td a {
    color: var(--dark-color);
}
